*{
    margin: 0px;
    padding: 0px;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: absolute;
    z-index: 1;
    padding: 70px 55px;
    border-radius: 50%;
    background:white;
    color:brown;
    font-weight: bolder;
}
.under{
    background: linear-gradient(to left, brown 10px, white 90px);
    width: 170px;
    height: 170px;
    border-radius: 60%;
    transform: rotate(360deg); 
    animation: rotation 1s linear infinite;
    position: relative;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
