*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:rgba(222, 184, 135, 0.8);
}
.Calculator{
	background-color: rgba(222, 184, 135);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:15%;
	border-radius: 50px;
}
.letter{
	border: green solid 1px;
	margin: 20px;
}