@font-face {
    font-family: "Inter";
    src:url(https://fonts.google.com/specimen/Inter);
}
body{
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Inter';
}
.card{
    background-color: hsl(244, 38%, 16%);
    width: 75vw;
    height: 55vh;
    position: absolute;
    transform:translate(15% , 40%) ;
    display: flex;
}
.text{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    left: 10%;
}
.insights{
    color: hsl(277, 64%, 61%);
}
p, .desc{
    color:hsla(0, 0%, 100%, 0.75);
}
.row{
    display: flex;
    justify-content: space-between;
    width: 20rem;

}
.value{
    display: flex;
    flex-direction: column;
}
.image{
    flex: 1;
    background-image:url(image-header-desktop.jpg);
    filter:sepia(44%) saturate(1502%) hue-rotate(216deg) brightness(70%) contrast(102%);
}