body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Big Shoulders Display";
    font-weight: 700;
}
.main{
    background-color: white;
    display: flex;
    position: absolute;
    top: 20%;
    left: 50%;
    transform:translateX(-50%);
    border-radius: 10px;
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    margin-top: -20px;
}
.card1, .card2, .card3{
    color : white;
    width: 20vw;
    height: 60vh;
}
.content{
    margin-top: -20px;
    margin: 3rem;
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#card1, #card2, #card3{
    background-color: white;
    padding: 4%;
    border-radius: 30px;
}
.card1{
    background-color: hsl(31, 77%, 52%);
}
#card1{
    color: hsl(31, 77%, 52%)
}
.card2{
    background-color: hsl(184, 100%, 22%);
}
#card2{
    color: hsl(184, 100%, 22%);
}
.card3{
    background: hsl(179, 100%, 13%);
}
#card3{
    color: hsl(179, 100%, 13%);
    
}
img{
    width: 50px;
}
span{
    background-color:white;
    width: 8vw;
    text-align: center;
    padding: 100px;
    font-size: medium;
    margin-top: 40px;
}